.avatar {
  &__link {
    &:hover {
      opacity: 0.8;
      transition: 0.4s;
    }
  }

  &__image {
    width: $gutter * 16;
    height: $gutter * 16;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
  }

  &__name {
    margin-top: $gutter * 3;
  }
}
