.button {
  @extend .button-size;

  background-color: color("special");
  padding: gutter(2) gutter(4);
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  transition: $transition;
  display: inline-block;
  color: color(light);
  font-weight: $thin;
  border: 0;
  text-align: center;

  &:hover {
    opacity: 0.8;
    color: color("light");
  }

  &--nav-arrow {
    padding: gutter() gutter(2);
    background: transparent;
    border: none;
    color: color(dark);
    filter: brightness(0) invert(1);

    &:hover {
      opacity: 0.6;
    }
  }

  @include mediaTo(sm) {
    width: 100%;
  }
}
