.container {
  max-width: gutter(136);
  margin: 0 auto;

  @include mediaTo(lg) {
    max-width: gutter(90);
    padding: 0;
  }

  @include mediaTo(xl) {
    max-width: gutter(90);
    padding: 0 gutter(3);
  }

  &--fluid {
    max-width: calc(100% - #{gutter(8)});

    @include mediaTo(lg) {
      max-width: gutter(90);
      padding: 0;
    }

    @include mediaTo(xl) {
      padding: 0 gutter(3);
    }
  }
}
