.link {
  $root: &;

  transition: $transition;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  cursor: pointer;

  &--arrow {
    &::after {
      content: url("../../images/next.png");
      position: relative;
      top: gutter(0.15);
      left: 0;
      margin-left: gutter(2);
      transition: $transition;
    }

    &:hover {
      &::after {
        left: gutter(0.5);
      }
    }
  }

  &:hover {
    #{$root}::after {
      left: gutter(0.5);
    }
  }

  &--invert {
    &::after {
      filter: invert(1);
    }
  }
}
