%text {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.headline {
  @include cssLock("font-size", 360, 1920, (24, 72));

  color: map-get($theme-colors, primary);
  font-family: map-get($font-family, title);
  font-weight: $bold;
  line-height: 1.1;

  @extend %text;
}

.title {
  @include cssLock("font-size", 360, 1920, (gutter_num(3), gutter_num(5.6)));

  font-family: map-get($font-family, title);
  font-weight: $medium;
  line-height: 1.4;
  letter-spacing: gutter(0.6);

  @extend %text;

  &--light {
    color: map-get($theme-colors, light);
  }

  &--dark {
    color: color("primary");
  }
}

.subtitle {
  @include cssLock("font-size", 360, 1920, (gutter_num(2.4), gutter_num(3)));

  font-family: map-get($font-family, title);
  font-weight: $bold;

  @extend %text;

  &--light {
    color: map-get($theme-colors, light);
  }

  &--dark {
    color: map-get($theme-colors, light);
  }

  &--center {
    text-align: center;
  }
}

.text {
  @include cssLock("font-size", 360, 1920, (gutter_num(1.5), gutter_num(2)));

  font-family: map-get($font-family, main);
  font-weight: 400;
  line-height: 1.8;

  @extend %text;

  &--light {
    color: map-get($theme-colors, light);
  }

  &--primary {
    color: map-get($theme-colors, primary);
  }

  &--thin {
    font-weight: 300;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }
}

.large-text {
  @include cssLock("font-size", 360, 1920, (18, 24));

  font-family: map-get($font-family, main);
  color: map-get($theme-colors, dark);
  font-weight: $bold;
}

.small-text {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (gutter_num(1.3), gutter_num(1.5)));

  font-family: map-get($font-family, main);
  font-weight: $medium;
  line-height: 1.8;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.menu-link {
  @extend %text;

  @include cssLock("font-size", 360, 1920, (gutter_num(1), gutter_num(2)));

  font-family: map-get($font-family, main);
  font-weight: $thin;
  line-height: 1.8;

  &--large {
    @include cssLock("font-size", 360, 1920, (gutter_num(0.8), gutter_num(3)));
  }
}

.button-size {
  @include cssLock("font-size", 360, 1920, (gutter_num(1.6), gutter_num(2)));

  font-family: map-get($font-family, main);
  letter-spacing: 2px;
}
