.form {
  $root: &;

  @include cssLock("margin-top", 360, 1920, (gutter_num(-3), gutter_num(-4)));
  @include cssLock("padding", 360, 1920, (gutter_num(3), gutter_num(4)));
  @include cssLock("padding-left", 360, 1920, (gutter_num(2), gutter_num(3)));
  @include cssLock("padding-right", 360, 1920, (gutter_num(2), gutter_num(3)));

  background: theme-color("light");
  position: relative;

  @media (max-width: map-get($media, lg)) {
    margin-top: 0;
  }

  &__header {
    @include cssLock("margin-bottom", 360, 1920, (gutter_num(4), gutter_num(8)));
  }

  &__wrapper {
    @include cssLock("margin-bottom", 360, 1920, (gutter_num(4), gutter_num(8)));

    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-gap: gutter(4) gutter(4);

    @include media(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__input-wrapper {
    margin-bottom: gutter(4);
    position: relative;

    @include media(sm) {
      margin-bottom: 0;
    }

    &::after {
      content: "";

      @extend .absolute;

      top: unset;
      bottom: gutter(-1);
      right: unset;
      width: 100%;
      height: 1px;
      background-color: theme-color(special);

      @include media(sm) {
        width: gutter(2);
      }
    }

    &--textarea {
      grid-column: 2 span;
    }
  }

  &__input {
    font-family: map-get($font-family, main);
    font-size: gutter(1.8);
    letter-spacing: gutter(0.2);
    border: 0;
    outline: 0;
    min-height: gutter(2);
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    box-shadow: inset 0 gutter(5) theme-color(light) !important;
  }

  &__checkbox-wrapper {
    @include cssLock("margin-bottom", 360, 1920, (gutter_num(2), gutter_num(4)));

    position: relative;
    color: lighten(theme-color(dark), 50%);
    display: block;
    width: 100%;
    padding-left: gutter(4);
    cursor: pointer;
  }

  &__checkbox-trigger {
    position: absolute;
    left: 0;
    top: gutter(0.65);
    display: inline-block;
    width: gutter(3);
    height: gutter(2.3);
    border: 1px solid theme-color(special);
    transition: $transition;

    &::before,
    &::after {
      @extend .absolute;

      content: "";
      width: gutter(1.5);
      height: 2px;
      background: theme-color(light);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__checkbox {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;

    &:checked + #{$root}__checkbox-trigger {
      border-color: theme-color(light);
      background: theme-color(special);
    }
  }

  &__thankyou {
    @extend .absolute;

    @include cssLock("padding", 360, 1920, (gutter_num(3), gutter_num(4)));
    @include cssLock("padding-left", 360, 1920, (gutter_num(2), gutter_num(3)));
    @include cssLock("padding-right", 360, 1920, (gutter_num(2), gutter_num(3)));

    top: unset;
    height: calc(100% - #{gutter(10)});
    background: theme-color(light);
    opacity: 0;
    pointer-events: none;
    transition: $transition;
  }

  &.-was-send {
    #{$root}__thankyou {
      opacity: 1;
      pointer-events: initial;
    }
  }
}
