.form {
  $root: &;

  padding: gutter(4.8) gutter(3.2);
  position: relative;
  max-width: gutter(141.9);
  background-color: $greey;

  @include mediaTo(md) {
    height: 100vh;
    overflow: auto;
  }

  @media (max-width: map-get($media, lg)) {
    margin-top: 0;
  }

  &--flat {
    padding-top: gutter(3.2);
    padding-bottom: gutter(1.6);

    #{$root}__wrapper {
      gap: gutter(0.8);
    }

    #{$root}__title {
      margin-bottom: gutter(2.4);
    }

    #{$root}__label {
      @extend .small-text;

      margin-bottom: gutter(0.8);
    }

    #{$root}__input {
      @extend .small-text;

      height: gutter(4);
      padding: gutter(1.6);

      &--textarea {
        height: gutter(10) !important;
      }
    }

    #{$root}__checkbox-wrapper {
      font-size: gutter(1.2);
    }
  }

  &__title {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(3.2), gutter_num(7.4))
    );

    letter-spacing: 0.7px;
    font-weight: $medium;
    color: $special;
    line-height: 1.5;

    @include mediaTo(xl) {
      margin-bottom: gutter(3.2);
    }

    @include mediaTo(md) {
      padding-right: gutter(4.8);
      font-size: 20px;
    }
  }

  &__wrapper {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(2), gutter_num(2))
    );

    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-gap: gutter(3.2) gutter(3.2);

    @include media(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__input-wrapper {
    margin-bottom: gutter(4);
    position: relative;

    @include media(sm) {
      margin-bottom: 0;
    }

    &--textarea {
      grid-column: 2 span;
    }

    &:first-child {
      grid-column: 2 span;
    }

    &--contact-form {
      &:first-child {
        grid-column: 1;
      }
    }

    &--nolabel {
      margin-top: gutter(3);
    }
  }

  &__label {
    text-transform: uppercase;
    display: block;
    margin-bottom: gutter(1);

    &--select {
      @extend .small-text;

      color: $dark !important;
      padding-top: gutter(0.6);
    }
  }

  &__input {
    @extend .text;

    font-family: map-get($font-family, main);
    background: $light;
    width: 100%;
    height: gutter(6.8);
    border: 0;
    padding: 0 gutter(1.6);

    @include mediaTo(xl) {
      height: gutter(4.8);
    }

    &--textarea {
      height: gutter(15) !important;

      @include mediaTo(xl) {
        height: gutter(13) !important;
      }

      @include mediaTo(lg) {
        height: gutter(10) !important;
      }
    }
  }

  &__button-wrapper {
    text-align: center;
  }

  &__checkbox-group {
    display: flex;
    max-width: gutter(30);
  }

  &__checkbox-wrapper {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(2), gutter_num(4))
    );

    position: relative;
    color: lighten(theme-color(dark), 50%);
    display: block;
    width: 100%;
    padding-left: gutter(4);
    cursor: pointer;
  }

  &__checkbox-trigger {
    position: absolute;
    left: 0;
    top: gutter(0.65);
    display: inline-block;
    width: gutter(2.3);
    height: gutter(2.3);
    border: 1px solid $special-dark;
    transition: $transition;
    background-color: $light;

    &::before,
    &::after {
      @extend .absolute;

      content: "";
      width: gutter(1.5);
      height: 2px;
      background: theme-color(light);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__checkbox {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;

    &:checked + #{$root}__checkbox-trigger {
      border-color: theme-color(light);
      background: theme-color(special);
    }
  }

  &__thankyou {
    @extend .absolute;

    padding: gutter(4.8) gutter(3.2);
    top: unset;
    height: 100%;
    background-color: $greey;
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    text-transform: uppercase;
  }

  &.-was-send {
    #{$root}__thankyou {
      opacity: 1;
      pointer-events: initial;
    }
  }

  &__close {
    position: absolute;
    top: gutter(5.2);
    right: gutter(3);
    width: gutter(3);
    height: gutter(3);
    border: 0;
    background: transparent;
    z-index: 10;

    &::before,
    &::after {
      @extend .absolute;

      content: "";
      width: gutter(3);
      height: gutter(0.2);
      background-color: color(special);
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
