.bildings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__col {
    width: 100%;

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
