.footer {
  position: relative;
  background: rgba(theme-color(dark), 0.8);
  color: theme-color(light);
  padding-bottom: 0;

  &__title {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(4), gutter_num(8))
    );
  }

  &__links {
    @include cssLock("margin-top", 360, 1920, (gutter_num(2), gutter_num(3)));

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: gutter(4);

    @include media(md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__list {
    @include cssLock("margin-top", 360, 1920, (gutter_num(4), gutter_num(8)));

    padding: 0;
    margin-bottom: 0;
    list-style: none;
  }

  &__link {
    transition: $transition;

    &:hover {
      color: theme-color("special");
    }
  }

  &__copyright-wrapper {
    @include cssLock("padding", 360, 1920, (gutter_num(2), gutter_num(4)));
    @include cssLock("margin-top", 360, 1920, (gutter_num(8), gutter_num(16)));

    background: rgba(theme-color(dark), 0.5);
    padding-left: 0;
    padding-right: 0;
  }

  &__madeby {
    width: auto;
    height: auto;
  }
}
