.gallery {
  width: 100%;

  .flickity-viewport {
    height: 100vw !important;

    @include media(sm) {
      height: calc(100vw / 3) !important;
    }
  }

  &__cell {
    position: relative;
    width: 100vw;
    height: 100vw;
    margin: 0;

    @include media(sm) {
      width: calc(100vw / 3);
      height: calc(100vw / 3);
      margin: 0 ($gutter * 3);
    }

    img {
      @extend .image;
      @extend .absolute;

      max-width: 100%;
    }
  }
}
