.gallery {
  width: 100%;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: gutter(0.8);
  }

  &__cell {
    position: relative;
    padding-top: 100%;

    img {
      @extend .image;
      @extend .absolute;

      max-width: 100%;
      width: 100% !important;
    }
  }
}
