.map {
  $root: &;

  @include cssLock("padding-top", 360, 1920, (gutter_num(2), gutter_num(4)));

  position: relative;

  .container {
    position: relative;
  }

  &__wrapper-title {
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(2), gutter_num(4))
    );

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;

    @include media(sm) {
      flex-wrap: nowrap;
    }
  }

  &__wrapper-map {
    position: relative;
  }

  &__title {
    white-space: nowrap;
    margin-right: gutter(4);
  }

  &__info {
    @include cssLock("padding", 360, 1920, (gutter_num(2), gutter_num(4)));
    @include cssLock(
      "padding-right",
      360,
      1920,
      (gutter_num(8), gutter_num(16))
    );

    display: none;
    position: absolute;
    width: gutter(45);
    top: 0;
    right: 0;
    background: color(dark-greey);
    z-index: 10;
    opacity: 0;
    transition: $transition;
    user-select: none;
    max-width: 100%;
  }

  &__info-title {
    @include cssLock("margin-top", 360, 1920, (gutter_num(2), gutter_num(4)));
    @include cssLock(
      "margin-bottom",
      360,
      1920,
      (gutter_num(4), gutter_num(6))
    );

    text-transform: uppercase;
    letter-spacing: gutter(0.2);
    position: relative;

    &::after {
      content: "";

      @extend .absolute;

      top: unset;
      bottom: gutter(-1);
      right: unset;
      width: gutter(8);
      height: 1px;
      background-color: theme-color(special);
    }
  }

  &__info-button {
    background: color(dark-greey);
    position: absolute;
    width: gutter(4);
    height: gutter(4);
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    &:hover + #{$root}__info {
      opacity: 1;
    }
  }

  &__info-img {
    height: 60%;
    width: auto;
  }

  &__navigation {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    margin: gutter(1) 0;
    gap: gutter(0.5);

    @include media(xs) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: gutter(3);
      margin: 0;
    }

    @include media(lg) {
      gap: gutter(6);
    }
  }

  &__color-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__color {
    width: gutter(10);
    height: gutter(4);
    margin-right: gutter(2);

    &--free {
      background-color: color(free);
    }

    &--taken {
      background-color: color(taken);
    }

    &--sold {
      background-color: color(sold);
    }
  }

  & + .section {
    padding-top: 0;
  }
}
