.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($dark, 0.8);
  z-index: z-index(popup);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: $transition;

  &.-is-active {
    opacity: 1;
    pointer-events: initial;
  }

  .container {
    @include mediaTo(md) {
      padding: 0;
    }
  }
}
