.section {
  @include cssLock("padding", 360, 1920, (gutter_num(5), gutter_num(8.5)));

  padding-left: 0;
  padding-right: 0;

  &--dark {
    background: theme-color(greey);

    @include media(lg) {
      background: transparent;
    }
  }

  &--clear-top {
    padding-top: 0;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: gutter(4);

    @include media(lg) {
      grid-gap: gutter(18);
      grid-template-columns: 1fr 2.28fr;
    }

    &--no-wrap {
      @include media(sm) {
        grid-template-columns: 1fr 2.28fr;
      }
    }
  }

  &__cell {
    position: relative;

    &--2col {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: gutter(4);

      @include media(xl) {
        grid-template-columns: 1.56fr 1fr;
      }
    }

    &--center {
      display: flex;
      align-items: center;
    }

    &--end {
      display: flex;
      align-items: center;

      @include media(sm) {
        justify-content: flex-end;
      }
    }
  }

  &__image {
    @extend .absolute;
    @extend .image;

    bottom: unset;
    height: auto;
    max-height: 100vh;
    box-shadow: 0 gutter(3) gutter(3) gutter(-2) rgba(theme-color(dark), 0.6);
    display: none;

    &--normalize {
      position: initial;
    }

    &--auto-width {
      width: auto;
    }

    @include media(lg) {
      display: initial;
    }

    @media (max-width: map-get($media, lg)) {
      display: initial;
      position: relative;
    }
  }

  & + .section {
    padding-top: 0;
  }
}
