.slider {
  $root: &;

  height: 100vh;
  position: relative;
  color: color(light);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &--just-one {
    .flickity-page-dots {
      display: none;
    }

    #{$root}__content {
      pointer-events: initial;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__carousel {
    @extend .absolute;

    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__cell {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__image {
    @extend .absolute;
    @extend .image;
  }

  &__content {
    @extend .absolute;

    left: unset;
    background-color: rgba($dark, 0.7);
    color: $light;
    padding: gutter(21) gutter(10) gutter(3.2) gutter(4.6);
    //pointer-events: none;
    z-index: 10;
    max-width: gutter(60);
    width: 40vw;

    @include mediaTo(sm) {
      padding: gutter(12) gutter(3.2) gutter(3.2);
      width: 100%;
      height: 100%;
      overflow: auto;

      br {
        display: none;
      }
    }

    @include media(sm) {
      padding: 22vh gutter(10) gutter(3.2) gutter(4.6);
    }

    h1,
    h2 {
      @extend .subtitle;

      margin: 0 0 gutter(1);
      letter-spacing: 2.8px;

      @include media(sm) {
        font-size: 3.1vh;
      }
    }

    h3,
    h4,
    h5 {
      @extend .text;

      letter-spacing: 2.1px;
      line-height: 1.6;

      @include media(sm) {
        font-size: 2.1vh;
      }
    }

    ul,
    p {
      @extend .large-text;

      color: inherit;
      font-weight: $medium;
      margin: gutter(3.8) 0;
      letter-spacing: 1px;
      line-height: 1.6;

      @include media(sm) {
        font-size: 2.5vh;
      }
    }

    .button {
      @include media(sm) {
        padding: 2vh 3vh;
        font-size: 2.1vh;
      }
    }

    ul {
      padding-left: 0;

      li {
        list-style: none;

        &::before {
          content: "•";
          font-size: inherit;
          vertical-align: middle;
          border-radius: 100%;
          margin-right: gutter(0.8);
        }
      }
    }
  }

  .flickity-viewport {
    width: 100%;
    height: 100% !important;
  }

  .flickity-page-dots {
    bottom: 0;
    background: $light;
    padding: gutter(0.8);
    border-bottom: 1px solid $special-dark;
    z-index: 12;

    .dot {
      height: gutter(1.5);
      width: gutter(1.5);
      border: 2px solid $special-dark;
      background: $special-dark;
      opacity: 1;
      box-shadow: inset 0 0 0 gutter(0.3) white;
      margin: 0 gutter(0.4);

      &.is-selected {
        background-color: $special;
      }
    }
  }
}
