table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  background-color: color("light");

  thead {
    background-color: color("special-dark");

    @media (max-width: 767px) {
      display: none;
    }

    th {
      @extend .text;

      padding: ($gutter * 4) 0;
      text-transform: uppercase;
      color: color("light");
      font-weight: 400;
    }
  }

  tbody {
    @extend .text;

    font-weight: 300;

    tr {
      background-color: lighten(color("special-dark"), 60%);

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }

      &:nth-child(2n) {
        background-color: lighten(color("special-dark"), 90%);
      }
    }

    td {
      padding: ($gutter * 2) 0;
      text-align: center;

      span {
        padding: $gutter;
        width: $gutter * 12;
        display: inline-block;
        text-transform: uppercase;
        color: color(dark);

        @include media(sm) {
          color: color("light");

          &.free {
            background: color("free");
            letter-spacing: 2px;
          }

          &.taken {
            background: color("taken");
            color: color("dark");
          }

          &.sold {
            background: color("sold");
          }
        }
      }

      &::first-letter {
        text-transform: uppercase;
      }

      &::before {
        @media (min-width: 767px) {
          display: none;
        }
      }

      &:nth-child(1) {
        &::before {
          content: "Nr:   ";
        }
      }

      &:nth-child(2) {
        &::before {
          content: "Powierzchnia:   ";
        }
      }

      &:nth-child(3) {
        &::before {
          content: "Balkon / Taras:   ";
        }
      }

      &:nth-child(4) {
        &::before {
          content: "Piętro:   ";
        }
      }

      &:nth-child(5) {
        &::before {
          content: "Status:   ";
        }
      }

      &:nth-child(6) {
        &::before {
          content: "Cena:   ";
        }
      }
    }
  }

  img {
    width: $gutter * 4;
    margin: ($gutter * 0.5);
  }

  a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table__plan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
