table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  background-color: color("light");

  thead {
    @extend .small-text;

    background-color: $greey;
    color: color("dark");

    @media (max-width: 767px) {
      display: none;
    }

    th {
      @extend .small-text;

      padding: ($gutter * 1.6) 0;
      text-transform: uppercase;
      font-weight: 400;
      border: 1px solid $dark-greey;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background-color: $special-dark;
        color: $light;
      }
    }
  }

  tbody {
    @extend .small-text;

    font-weight: 300;
    text-transform: uppercase;

    tr {
      background-color: lighten(color("special-dark"), 60%);

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }

      &:nth-child(2n) {
        background-color: lighten(color("special-dark"), 90%);
      }
    }

    td {
      padding: ($gutter * 2) 0;
      text-align: center;
      border: 1px solid $dark-greey;

      span {
        padding: $gutter;
        width: $gutter * 12;
        display: inline-block;
        text-transform: uppercase;
        color: color(dark);
        font-weight: $bold;

        @include media(sm) {
          color: color("light");

          &.wolne {
            background: color("free");
            letter-spacing: 2px;
          }

          &.zajęte {
            background: color("taken");
            color: color("dark");
          }

          &.sprzedane {
            background: color("sold");
          }
        }
      }

      &::first-letter {
        text-transform: uppercase;
      }

      &::before {
        @media (min-width: 767px) {
          display: none;
        }
      }

      &:nth-child(1) {
        &::before {
          content: "Budynek:   ";
        }
      }

      &:nth-child(2) {
        &::before {
          content: "Nr:   ";
        }
      }

      &:nth-child(3) {
        &::before {
          content: "Powierzchnia:   ";
        }
      }

      &:nth-child(4) {
        &::before {
          content: "Ogórdek:   ";
        }
      }

      &:nth-child(5) {
        &::before {
          content: "Rzut:   ";
        }
      }

      &:nth-child(7) {
        &::before {
          content: "Karta:   ";
        }
      }

      &:nth-child(8) {
        &::before {
          content: "Status:   ";
        }
      }
    }
  }

  img {
    width: $gutter * 4;
    margin: ($gutter * 0.5);
  }

  a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table-pdf {
    height: gutter(3);
    width: auto;
  }

  .table-link {
    transition: $transition;

    &:hover {
      color: $special;
    }
  }

  .table__plan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.table-section {
  padding-top: gutter(5);
}

.table__title {
  @extend .large-text;

  text-transform: uppercase;
  color: color("special");
  margin-bottom: gutter(5);
  font-weight: $thin;
  letter-spacing: 2.4px;
  margin-top: 0;
  text-align: center;
}
