.text-section {
  &__header {
    margin-bottom: $gutter * 6;
  }

  &__content {
    margin: 0 auto;
    max-width: $gutter * 100;
    color: rgba(color("dark"), 0.6);
  }

  &__wrapper {
    text-transform: uppercase;

    p {
      @extend .subtitle;

      font-weight: $thin;
      line-height: 1.8;
      margin: 0 auto;

      @include mediaTo(xl) {
        font-size: 20px;
        max-width: gutter(90);
      }

      @include mediaTo(md) {
        font-size: 18px;
      }

      @include mediaTo(sm) {
        br {
          display: none;
        }
      }
    }
  }
}
