* {
  box-sizing: border-box;
}

html,
body {
  font-family: map-get($font-family, "main"), sans-serif;
  overflow-x: initial;
  margin: 0 !important;
  padding: 0;
}

#wpadminbar {
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.gmp_map_opts,
.gmpMapDetailsContainer,
.gmp_MapPreview {
  height: 100% !important;
  min-height: 300px;
}

xmp {
  padding: 15px;
  background: #001d2b;
  border-radius: 16px;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: 100%;
  display: block;
}

section,
footer {
  z-index: 1;
}

p {
  a {
    transition: $transition;

    &:hover {
      color: theme-color(special);
    }
  }
}

button {
  cursor: pointer;
}
