/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  light: #fff,
  dark: #000,
  primary: #364ea2,
  secondary: #dcc38b,
  greey: #ebe9e6,
  special: #ff8c56,
  special-dark: #3b3b3b,
  free: #20ff49,
  taken: #ffdd1b,
  sold: #fa0909
);

$media: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1440px
);

$transition: 0.4s;

$font-family: (
  main: "Work Sans",
  title: "Work Sans"
);

$gutter: 8px;
$gutter_num: 8;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$z-index: (
  infobar: 200,
  header: 100,
  preloader: 300,
  popup: 250
);

$lineSize: 2px;

$bold: 700;
$medium: 500;
