/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// COLORS
$light: #fff;
$dark: #000;
$primary: #364ea2;
$secondary: #dcc38b;
$greey: #ebe9e6;
$dark-greey: #d4d4d4;
$special: #f16927;
$special-dark: #65686a;
$free: #93ff93;
$taken: #ff8c56;
$sold: #f48785;
// END COLORS

$theme-colors: (
  light: $light,
  dark: $dark,
  primary: $primary,
  secondary: $secondary,
  greey: $greey,
  dark-greey: $dark-greey,
  special: $special,
  special-dark: $special-dark,
  free: $free,
  taken: $taken,
  sold: $sold
);

$media: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1440px
);

$transition: 0.4s;

$font-family: (
  main: "Martin Gothic",
  title: "Martin Gothic"
);

$gutter: 10px;
$gutter_num: 10;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$z-index: (
  infobar: 200,
  header: 100,
  preloader: 300,
  popup: 250
);

$lineSize: 2px;

$bold: 700;
$medium: 400;
$thin: 300;
