/* external css: flickity.css */

.gallery-invest {
  $root: &;

  position: relative;
  height: max-content;
  display: none;
  border-bottom: 1px solid color(dark);

  &.-is-active {
    display: initial;
    animation: slider-in ($transition * 2) both;
  }

  &__cell {
    opacity: 1;
    width: 100%;
    display: inline-block !important;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__wrapper {
    width: 100%;
    max-width: gutter(100);

    &--dont-transform {
      .flickity-slider {
        @include media(md) {
          transform: none !important;
        }
      }
    }

    &--grid {
      @include media(md) {
        margin-top: 0 !important;
      }

      .flickity-viewport {
        @include media(md) {
          height: auto !important;
        }
      }

      .flickity-slider {
        @include media(md) {
          transform: none !important;
          position: initial !important;
          height: auto;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
          gap: gutter(3);
        }
      }

      #{$root}__cell {
        @include media(md) {
          transform: none !important;
          position: relative !important;
          margin: 0 !important;
          left: unset !important;
          padding-top: 100%;
          width: 100% !important;
        }
      }

      #{$root}__image {
        @include media(md) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover !important;
        }
      }
    }

    &--nav {
      @include cssLock("margin-top", 360, 1920, (gutter_num(2), gutter_num(4)));

      padding: 0;
      width: auto;

      &::before {
        display: none;
      }

      #{$root}__cell {
        width: calc(100% / 4);
        margin: ($gutter * 1);

        @include media(md) {
          width: $gutter * 12.5;
        }
      }

      #{$root}__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .flickity-prev-next-button {
    top: 80%;
  }

  .flickity-prev-next-button.previous {
    left: unset;
    right: $gutter * 5.5;
  }

  .flickity-viewport {
    transition: height $transition;
  }
}

@keyframes slider-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
